@import 'layout-variables.scss';

$breakpoint-borders: 35em;
$breakpoint-full-borders: ($full-borders-width * (100/$proportional-borders-percentage));
$breakpoint-full-width: $full-width + 2*$full-borders-width;

$media-borders: (min-width: $breakpoint-borders);
$media-full-borders: (min-width: $breakpoint-full-borders);
$media-full-width: (min-width: $breakpoint-full-width);
