body {
	font-family: 'Titillium Web', sans-serif;
}

.ieWarning {
	width: 90%;
	margin: 2em auto;
	padding: 1em;
	background: black;
	color: #faa;
	font-weight: bold;

}
a[href="#"] {
	display: none;
}