$proportional-borders-percentage: 10;
$full-borders-width: 5.5em;
$full-width: 75em;
$header-height: 6em;
$section-margin-top: 2.5em;
$section-padding-vertical: 1em;
$section-padding-horizontal: 2em;
