@import '../styles/chicago.scss';
@import '../styles/layout-variables.scss';

$salt-color: #ab8b4e;
$min-album-page-size: 15em;
$media-scrollbar-reserve: 1.5em; // reserve for page scrollbar

.salt-wrapper {
	width: 100%;
	padding-top: 200%;
	position: relative;
}

.salt {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 5px 5px 3px #eee;

	> * {
		height: 50%;
	}
}

.salt button {
	cursor: pointer;
	outline: none;
}

.salt-content {
	position: relative;
	& > :not(.salt-backCover) {
		z-index: 1;
	}
}
.salt-backCover {
	position: absolute;
	width: 100%;
	height: 100%;
}
.salt-trackList {
	position: absolute;
	left: 19%;
	top: 10%;
	min-height: 50%;
	max-height: 73%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-between;
	font-family: 'Chicago Plain', sans-serif;
}

.unstyled-button.salt-track {
	display: block;
	text-align: left;

	color: $salt-color;
	&.salt-bonusTrack {
		color: desaturate($salt-color, 100%);
	}
	&:hover {
		color: saturate($salt-color, 30%);
	}
	&:active {
		transform: scale(.9);
	}

	> span {
		display: block;
	}
}
.salt-firstRegularTrack span:first-child::before,
.salt-lastRegularTrack span:first-child::after {
	content: '_';
}

.salt-songTitle {
	text-transform: uppercase;
	font-weight: bold;
}
.salt-songSubtitle {
	font-size: 70%;
}

.salt .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity .5s ease;

	svg {
		stroke: $salt-color;
		fill: $salt-color;
	}
}
.salt button:hover .icon svg {
	circle {
		fill: $salt-color;
	}
	path {
		fill: white;
		stroke: white;
	}
}

.salt:not(.salt-playing) .icon-pause,
.salt-playing .icon-play {
	opacity: 0;
}

.salt-play,
.salt-download {
	position: absolute;
	.icon svg {
		animation: 3.5s linear infinite anim-salt-button;
	}
}

.salt-play {
	top: 30%;
	left: 61.5%;
	width: 20%;
	height: 20%;
}

.salt-download {
	top: 52.5%;
	left: 64%;
	width: 15%;
	height: 15%;
}
@keyframes anim-salt-button {
	0%, 100% { opacity: 1; }
	45% { opacity: .6; }
	50% { opacity: .8; }
}

.salt-downloadLinks {
	position: absolute;
	text-align: right;
	right: 0;
	top: 110%;
	background: white;

	a {
		display: block;
		border: 1px solid $salt-color;
		border-radius: 3px;
		padding: .25em;
		&:link, &:active, &:visited {
			color: $salt-color;
		}
		&:hover {
			text-decoration: none;
			background: $salt-color;
			color: white;
		}
	}
}

@media (min-width:
	(2 * $min-album-page-size + 2 * $section-padding-horizontal) // section outer dimensions
	* (100 / (100 - 2 * $proportional-borders-percentage)) // add borders
	+ $media-scrollbar-reserve // add reserve
) {
	.salt-wrapper {
		padding-top: 50%;
	}

	.salt {
		flex-flow: row nowrap;
		> * {
			height: 100%;
			width: 50%;
		}
	}
}
